{% extends "base.html" %}
{% block title %}baemin_project{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  {% if user.is_authenticated %}
    {% if user.partner %}
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>환영합니다!</h2>
          <table class="table">
            <tr>
              <th>업체명</th>
              <td>{{ user.partner.name }}</td>
            </tr>
            <tr>
              <th>업체 연락처</th>
              <td>{{ user.partner.contact }}</td>
            </tr>
            <tr>
              <th>업체 주소</th>
              <td>{{ user.partner.address }}</td>
            </tr>
            <tr>
              <th>업체 소개</th>
              <td>{{ user.partner.description }}</td>
            </tr>
          </table>
          <a href="/partner/edit_info/">
            <button class="btn btn-default btn-block">수정하기</button>
          </a>
      </div>
    </div>
    {% else %}
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <h3>정보를 입력해주세요</h3>
        <form method="post" action="">
          {% csrf_token %}
          <!-- <div>
            <input type="text" name="name" />
          </div>
          <div>
            <input type="text" name="contact" />
          </div>
          <div>
            <input type="text" name="address" />
          </div>
          <div>
            <input type="text" name="description" />
          </div> -->
          {{ form.as_p }}
          <button class="btn btn-default btn-block">저장하기</button>
        </form>
        </div>
      </div>
    {% endif %}
  {% else %}
  <div>로그인 해주세요</div>
  {% endif %}
</div>
{% endblock %}
